<div ng-controller="session_protected_page">
<div class="container" >
	<div class="row" id="contentHolder" style="margin-top:50px;" >
				<!-- left profile  -->
				<div class="col-md-8" ng-controller="doctor_search">
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="row">
							<div class="col-md-2 pro-pic"><center>
							<!-- profile image -->
							<div ng-if="doc_data.0.DocImage===null">
							     <svg  height='100' width='100'>
									<g>
									  <circle cx='50' cy='50' r='40' stroke='black' stroke-width='0' fill='SteelBlue' /></circle>
									  <text x='50' y='60' style='text-anchor: middle' font-family='Palatino Linotype' font-weight='900' font-size='34' fill='white' >{{doc_data.0.FirstName | limitTo: 1}}{{doc_data.0.LastName | limitTo: 1}}</text>
									</g>
								</svg>
							</div>
							
							
							<div ng-if="doc_data.0.DocImage!==null" style="margin:10px;">
							    <img style="width:90px; height:90px" class="img-circle" ng-src="images/{{doc_data.0.DocImage}}" title="{{doc_data.0.FirstName}} {{doc_data.0.LastName}}" />
							</div>
							</div>
							<div class="col-md-6 pro-info">
							<div itemscope itemtype="http://schema.org/Person">
							<div itemprop="name"><h4 style="font-weight:600;padding:2px;">Dr. {{doc_data.0.FirstName}} {{doc_data.0.LastName}}</h4></div>
							</div>

							
							<h5  style="font-weight:600;padding:2px;font-size:11px;">{{doc_data.0.degree | uppercase}}</h5>
							<p class="green">{{doc_data.0.about}}</p>
							</div>
							<div class="col-md-4">
								<div style="margin:10px;padding-top:5px;">
								<center>
								<h5> Change Time & Date</h5>
								<input type="image" ng-src="images/Calendar.png" title="" ng-click="dropdown = !dropdown ; show_calandar(doc_id)" ng-class="{ active: dropdown }"/>
								</center>
								</div>
							</div>
						</div>
					</div>
					<!-- dorp down -->
					<div class="[ panel1 panel1-default ] panel1-google-plus"  collapse="!dropdown" >
						<!-- <h5> {{card.name}}<h5>
						<h5 class="text-right">{{card.fees | currency :"":2}}</h5>
						<a href="#/primary_info" type="button" class="btn btn-primary btn-xs"  ><span style="color:white" class="fa fa-send"></span> Book Appointment </a></p> -->
						 <div style="height:320px;width:100%;padding:1px;padding-top:-1px;"> 
						
							<div class="table-container"  > <!-- Adding other controller here:Amit -->
								<div  >
								<table class="table table-responsive table-hover">
									  <thead>
										<img class="img-responsive" src="images/Timestrip1.png" />
									  </thead>
									  <tbody >
										<center><loading></loading><center>
										<tr ng-repeat="(key , prop) in slots">
										  <td>
											<center>
											  <span style="font-size:12px;border-radius:10px;padding:7px;margin:2px">
												{{prop.day}}  
											  </span>
											  <br>
											  <span style="font-weight:900;font-size:20px;padding-left:4px">
												{{prop.date}} 
											  </span>
											  <br>
											  <span style="font-size:15px;">
												{{prop.month}} 
											  </span>
											</center>
										  </td>
										  <td>
											<a ng-repeat="(id , prop) in prop.Morning" ng-href="#/book_appointment/{{key}}/{{doc_id}}/{{prop}}/{{id}}" class="available" >
											  <span>
												{{prop}} 
												<span>
												  <br>
											</a>
										  </td>
										  <td >
												<a ng-repeat="(id , prop) in prop.Afternoon" ng-href="#/book_appointment/{{key}}/{{doc_id}}/{{prop}}/{{id}}" class="available" >
												  {{prop}} 
												  <br>
												</a>
										  </td>
										  <td >
												<a ng-repeat="(id , prop) in prop.Evening" ng-href="#/book_appointment/{{key}}/{{doc_id}}/{{prop}}/{{id}}" class="available"  >
												 {{prop}} 
												 <br>
												</a>
										  </td>
										  <td >
												<a ng-repeat="(id , prop) in prop.Night" ng-href="#/book_appointment/{{key}}/{{doc_id}}/{{prop}}/{{id}}" class="available" >
												  {{prop}} 
												  <br>
												</a>
												
															
															<!-- 
												<a ng-if="slot.10=='0'" class="not_available">
												7:00 - 8:00 Pm
												</a>
												<a ng-if="slot.10=='1'" ng-href="#/book_appointment/0/{{slot.standard_date}}/{{card.doc_id}}"  class="available">
												7:00 - 8:00 Pm 
												</a>
												<br>
												<a ng-if="slot.11=='0'"  class="not_available">
												8:00 - 9:00 Pm
												</a>
												<a ng-if="slot.11=='1'" ng-href="#/book_appointment/0/{{slot.standard_date}}/{{card.doc_id}}"  class="available">
												8:00 - 9:00 Pm
												</a>
												-->
										 </td>
										 <td>
										 </tr>
									</tbody>
																		  
								</table>
								
									
								</div> 
							</div> 
						</div> 
						<div> 		
								<!--  	<div style="padding:2px;text-align:center;margin:5px;" id="demo-nav">
										<dir-pagination-controls template-url="webpage/dirPagination1.html"></dir-pagination-controls>
									</div>-->	
						</div>	 
						
						
					</div>
            
		
				
        	
        
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="row doc_ser">
							<div class="col-md-4">
							<!-- Hospital details -->
							<h4><img ng-src="images/doctorproicons/hospital.png" /> Hospitals </h4>
							<div class="col-md-12"><span style="color:#43b98f"><i class="fa fa-map-marker"></i></span> Community Clinic</div>
							<div class="col-md-12"><span style="color:#43b98f"><i class="fa fa-map-marker"></i></span> {{doc_data.0.area}}</div>
							
							</div>
							<div class="col-md-4">
							<h4><img ng-src="images/doctorproicons/timings.png" /> Clinic Timing </h4>		
							<h5 style="font-weight:900"> 9:00 Am - 9:00 Pm</h5>
							<p>( Monday - Sunday )</p>
							</div>
							<div class="col-md-4">
							<h4><img ng-src="images/doctorproicons/fees.png" /> Fees Details</h4>
							<h3 style="margin-left:25px;">{{doc_data.0.fee | currency: "": 2 }} / -</h3>							
							</div>
						</div>
					</div>
					
					<!-- map -->
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						
							<div ng-controller="book_appointment" style="height:160px;">
								<div id="map" ></div>
								
							</div>
					
					</div>
					<!-- map -->
					
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="row">
							<div class="col-md-6">
								<div class="row doc_ser">
									<!-- Services details -->
									<h4><img ng-src="images/doctorproicons/services.png" />  Services Available </h4>
								</div>
								<div  style="margin-left:20px;">
									
									<p style="font-size:15px;padding-left:10px;"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Alternate Medicine <br><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Laboratories <br><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Pathologies </p>
									
									
									
									<!-- <div  ng-show="card.image_service.length">
										<div  ng-repeat="service in card.image_service">
											<center><img ng-src="{{service}}"/> 
										</div> 
									</div> -->
								</div>
							</div>
							<div class="col-md-6">
								<div class="   doc_ser">
							<!-- Specialisation details -->
									<h4><img ng-src="images/doctorproicons/specialization.png" />  Specialization  </h4>
								</div>
								<div class="  doc_ser" style="margin-left:20px;">
									
											<h5> <i class="fa fa-angle-right"></i>&nbsp;&nbsp; <span style="font-weight:600;"> {{doc_data.0.speciality }} </span>	</h5>
										
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="row">
							<div class="col-md-6">
								<div class=" doc_ser">
									<!-- Education details -->
									<h4><img ng-src="images/doctorproicons/Education.png" /> Education Details </h4>
								</div>
								<div class="doc_ser" style="margin-left:20px;">
									<div  ng-show="card.education.length">
										<div class="grey" ng-repeat="edu in card.education">
											<h5>{{edu}}	</h5>
										</div> 
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="doc_ser">
									<!-- Experience details -->
									<h4><img ng-src="images/doctorproicons/Experience.png" /> Experience </h4>
								</div>
								<div class="doc_ser" style="margin-left:20px;">
									<div class="row">
										<div class="col-md-4 grey">
											<h5> <i class="fa fa-angle-right"></i>&nbsp;&nbsp; <span style="font-weight:600;">{{doc_data.0.experience}} Years </span>	</h5>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="row  doc_ser">
							<!-- Memberships details -->
							<h4><img ng-src="images/doctorproicons/memberships.png" /> Memberships  </h4>
						</div>
						<div class="row doc_ser">
							<div class="row" ng-show="card.Memberships.length">
								<div class="col-md-4 grey" ng-repeat="membership_details in card.Memberships">
									<h5>{{membership_details}}	</h5>
								</div> 
							</div>
						</div>
					</div>
					
				</div>
				<!-- Right profile  -->
				<div class="col-md-4">
				<!-- <h4 style="text-align:left">Showing <strong>1002</strong> Results found for <strong>Dr. doctor name </strong> </h4><br> -->
					
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="bookappointment">
						<center><img class="img-responsive" src="images/bookappointment.png"/></center>
						</div>
						<!-- booking form -->
						<div ng-controller="book_appointment">
						<div class="bo1" >
							<form name="form" shake-that submitted="submitted">
							<center><h4><i class="fa fa-calendar"></i> {{date}}  <br><br> <i class="fa fa-clock-o"></i> {{slot}}</h4><br></center>
								<div class="form-group" ng-class="{'has-error': form.patientname.$invalid && submitted}">
								  <label for="patientname" class="control-label">Patient Name </label>
								  <!-- hidden form data -->
								  <input
									type="hidden"
									class="form-control"
									id="appointment_date"
									name="appointment_date"
									ng-value="date"
									>
									
									<input
									type="hidden"
									class="form-control"
									id="appointment_slot"
									name="appointment_slot"
									ng-value="slot"
									>
									
									<input
									type="hidden"
									class="form-control"
									id="doc_id"
									name="doc_id"
									ng-value="doc_data.o.doc_id"
									>
									<!-- hidden form data ends -->
								  
								  
								  <input
									type="text"
									class="form-control"
									id="patientname"
									name="patientname"
									placeholder="Patient Name"
									ng-model="appointment_related.patientname"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								<div>
								<span  class="alert alert-warning" ng-show="form.Reason.$error.maxlength">60 characters are allowed only </span>
								</div>
								<div class="form-group" ng-class="{'has-error': form.Reason.$invalid && submitted}">
								  <label for="Reason" class="control-label">Appointment reason </label>
								  <input
									type="text"
									class="form-control"
									id="Reason"
									name="Reason"
									placeholder="Appointment reason"
									ng-maxlength="60"
									ng-model="appointment_related.Reason"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								<div>
								<span  class="alert alert-warning" ng-show="form.Reason.$error.maxlength">60 characters are allowed only </span>
								</div>
								<br>
								<center><a   ng-click="appointment_related.submitForm();"  alt="submit" class="btn btn-primary"><span class="fa fa-paper-plane"></span> Book </a></center>
								</form>
						
						
						
							
						</div>
						
						</div><!-- ng-controller ends here -->
					
						
					
					</div>
				</div>
	</div>
</div>
</div><!--  session_protected_page controller ends here -->