<div class="container" data-ng-controller="patient_DashboardCtrl">
	<br><br><br>
    <div class="row">
		<div class="col-md-3">
                    <section class="panel panel-box">
                        <div class="panel-top bg-facebook">
							<svg  height='100' width='100'>
									<g>
									  <circle cx='50' cy='50' r='50' stroke='black' stroke-width='0' fill='SteelBlue' /></circle>
									  <text x='50' y='60' style='text-anchor: middle' font-weight='900' font-size='27' fill='white' >{{user_session.PFirstName | limitTo: 1}}{{user_session.PLastName | limitTo: 1}}</text>
									</g>
							</svg>
							<br><br>
							<p class="size-h4">{{user_session.PFirstName}} {{user_session.PLastName}}</p>
                        </div>
                        <!-- <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h4">Patient Name</p>
                                    <p class="text-muted">Reason : {{p_reason}}</p>
                                </li>
                                
                            </ul>
                        </div> -->
                    </section>
        </div>
        <div class="col-md-6">
			
			<div class="row">
               <!--  <div class="col-md-5">
                </div> -->
				
				
				<div class="col-md-12"  >	
					<div class="row">
						<div class="col-md-6" ng-repeat="appointment in dashboard_data" >
							<div class="panel mini-box" ng-controller="patient_request">
								<div class="box-info" >
									<p class="size-h3" style="text-align:center" > 
									 
									<svg ng-if="appointment.DocImage===null"  height='100' width='100' style="margin-top: -27px;">
											<g>
											  <circle cx='50' cy='50' r='40' stroke='black' stroke-width='0' fill='SteelBlue' /></circle>
											  <text x='50' y='60' style='text-anchor: middle' font-weight='900' font-size='27' fill='white' >{{appointment.DocFname | limitTo: 1}}{{appointment.DocLname | limitTo: 1}}</text>
											</g>
									</svg>
									
									
									
									<img ng-if="appointment.DocImage!==null" style="width:80px;height:80px;" class="img-circle" ng-src="images/{{appointment.DocImage}}" ></i>&nbsp;
								
									
									
									<br>
									{{appointment.DocFname}} {{appointment.DocLname}}
									</p><hr>
									<p class="text-muted" style="color:black;text-align:center"><b>-: Appointment Details :-</b> <br><br> Date : {{appointment.AppointmentDate}} <br> Time : {{appointment.AppointmentSlot}} <br> <span>Reason :</span>  {{appointment.Reason}}</p>
									<br><center><button class="btn btn-primary btn-xs" data-ng-click="info= !info">More Information</button></center>
								</div>
								<div class="box-info" collapse="!info"><hr>
									<p class="size-h4" style="text-align:center" ><span style="font-size:16px;font-weight:600">{{appointment.clinic_name}}</span></p>
									<p class="text-muted" style="color:black;text-align:center"><b>-: Address :-</b> <br>{{appointment.clinic_address}} <br> <b> Fees : <i class="fa fa-inr"></i> {{appointment.DocFee}}</b></p>

									<br><center><button class="btn btn-danger btn-xs" ng-click="cancelAppointment(appointment.AppointmentId);">Cancel Appointment</button></center>

								</div>
							
							
							
							</div>
							
						</div>
					</div> 
				</div>
				
				<!-- <div class="col-md-5">
					<section class="panel panel-box info-box" >
								<div class="panel-left panel-item1 bg-warning" >
									<i class="fa fa-warning text-large stat-icon"></i>
								</div>
								<div class="panel-right panel-item1 bg-reverse">
									<p class="size-h4 no-margin"><a href="#" style="text-decoration:none;">Update Schedule</a></p>
									<p class="size-h5 no-margin" style="color: #9F6000;"><span>Out of slots for next month</span></p>
								</div>
					</section>
				</div>	 -->
				 
				
            </div>
			
			
            
          
        </div>
		<!-- <div class="col-md-5"></div> -->
        
    </div>



</div>
  