<div ng-controller="session_protected_page">
<!-- Page Content -->
<!-- Page Content -->
<div class="container" ng-controller="book_appointment" ng-controller="ThankYouPage">

   
    <div class="row" style="margin-top:40px;">

        <div class="col-md-3"><center>
			<!-- <h3>Thank You. !!!</h3> -->
            <img  class="img-responsive docmac" src="images/DRmascot.png"></center>
        </div>
		<div class="col-md-8">
            <div class="[ panel1 panel1-default ] panel1-google-plus">
				<div class="row">
				<div class="col-md-7" >
					<center><h3 style="margin:10px;padding:2px;padding:5px;"><span style="color:#43b97b"class="fa fa-heartbeat fa-2x"></span>Your Appointment Details<h3></center><br>
				
					<div style="border:1px solid #f6f6f6;border-radius:15px;padding:25px;margin:5px;margin-bottom:20px">
					<h5>Patient Name :	<span style="font-weight:600;padding-left:20px;color:#5b5957"> {{thankyoupageData.PatientName}} </span></h5><br>
					<h5>Appointment  : 	<span style="font-weight:600;padding-left:20px;color:#5b5957"> {{thankyoupageData.Reason}} </span></h5><br>
					<h5>Date    : 	<span style="font-weight:600;padding-left:20px;color:#5b5957"> {{thankyoupageData.AppointmentDate}} </span></h5><br>
					<h5>Time : 	<span style="font-weight:600;padding-left:20px;color:#5b5957"> {{thankyoupageData.AppointmentSlot}} </span></h5><br>
					<h5>Status : 	<span style="font-weight:600;padding-left:20px;color:#b94346"> Waiting For Doctor Confirmation </span></h5>
					</div>
				</div>
				<div class="col-md-5">
					<div style="border:1px solid #f6f6f6;border-radius:15px;padding:5px;margin:5px;margin-bottom:20px">
					<center>
					<img style="width:70px; height:70px" class="img-circle" ng-src="images/{{thankyoupageData.DocImage}}" title=""/>
					<h4 style="margin:5px;padding:2px;">{{thankyoupageData.DisplayName}}</h4>
					<h5 style="margin:5px;padding:2px;">{{thankyoupageData.degree}}</h5>
					<p style="color:#43b97b;margin-bottom:5px;font-weight:600">Clinic Details</p>
					<p>{{thankyoupageData.address}},{{thankyoupageData.area}}</p>
					</center>
					
					<div ng-controller="MapCtrlInfo">
						<div id="map" style="height:200px;"></div>
						<!-- <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
							 <!-- <a  ng-click="openInfoWindow($event, marker)">{{marker.title}}</a> 
						</div> -->
					</div>	
							
					
					
					</div>
					
					
					
				
					
				</div>
			</div>
			
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
</div>