<div class="container" >
	<div class="row" id="contentHolder" style="margin-top:50px;">
				<!-- left profile  -->
				<div class="col-md-8">
					
					
				</div>
				<!-- Right profile  -->
				<div class="col-md-4">
				<!-- <h4 style="text-align:left">Showing <strong>1002</strong> Results found for <strong>Dr. doctor name </strong> </h4><br> -->
					
					<div class="[ panel1 panel1-default ] panel1-google-plus">
						<div class="bookappointment">
						<h3 style="text-align:center;">Doctor Registration</h3>
						</div>
						<!-- booking form -->
						<div class="bo1" ng-controller="formValidation">
						    <div ng-controller="docto_registration">
							<form name="form" shake-that submitted="submitted">
								
								<div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
								  <label for="email" class="control-label">E-mail Address </label>
								  <input
									type="email"
									class="form-control"
									id="email"
									name="email"
									placeholder="e.g doctor@healthserve.in"
									ng-model="d_registrationform.email"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.fname.$invalid && submitted}">
								  <label for="fname" class="control-label">First Name </label>
								  <input
									type="text"
									class="form-control"
									id="fname"
									name="fname"
									placeholder="Your First Name"
									ng-model="d_registrationform.fname"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.lname.$invalid && submitted}">
								  <label for="lname" class="control-label">Last Name </label>
								  <input
									type="text"
									class="form-control"
									id="lname"
									name="lname"
									placeholder="Your Last Name"
									ng-model="d_registrationform.lname"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.gender.$invalid && submitted}">
								  <label for="gender" class="control-label">Gender </label> &nbsp;
									<select required class="form-control" ng-model="d_registrationform.gender">
                                                  <option>
                                                   Male
                                                  </option>
                                                  <option>
                                                    Female
                                                  </option>
                                                  
                                    </select>
									
								
								</div>
								
								
								
								<div class="form-group" ng-class="{'has-error': form.address.$invalid && submitted}">
								  <label for="address" class="control-label">Address</label>
								  <textarea row="5" cols="10"
									type="text"
									class="form-control"
									id="address"
									name="address"
									placeholder="address"
									ng-model="d_registrationform.address"
									ng-model-options="{updateOn: 'blur'}"
									required></textarea>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.photo.$invalid && submitted}">
								  <label for="photo" class="control-label">Upload Picture </label>
								  <input
									type="file"
									class="form-control"
									id="photo"
									name="photo"
								
									placeholder=""
									ng-model="d_registrationform.photo"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								
								
								<div class="form-group" ng-class="{'has-error': form.mobile.$invalid && submitted}">
								  <label for="mobile" class="control-label">Mobile Number </label>
								  <input
									type="number"
									class="form-control"
									id="mobile"
									name="mobile"
									min="10"
									placeholder="Mobile Number"
									ng-model="d_registrationform.mobile"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.deg.$invalid && submitted}">
								  <label for="deg" class="control-label">Last Degree </label>
								  <input
									type="text"
									class="form-control"
									id="deg"
									name="deg"
									placeholder="Your Last Degree"
									ng-model="d_registrationform.deg"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.speciality.$invalid && submitted}">
								  <label for="speciality" class="control-label">speciality</label>
								  <input
									type="text"
									class="form-control"
									id="speciality"
									name="speciality"
									placeholder="speciality"
									ng-model="d_registrationform.speciality"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								<div class="form-group" ng-class="{'has-error': form.exp.$invalid && submitted}">
								  <label for="exp" class="control-label">Experience</label>
								  <input
									type="number"
									class="form-control"
									id="exp"
									name="exp"
									placeholder="exp"
									ng-model="d_registrationform.exp"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								
								
								<div class="form-group" ng-class="{'has-error': form.fees.$invalid && submitted}">
								  <label for="fees" class="control-label">Fees</label>
								  <input
									type="number"
									class="form-control"
									id="fees"
									name="fees"
									placeholder="Fees"
									ng-model="d_registrationform.fees"
									ng-model-options="{updateOn: 'blur'}"
									required>
								</div>
								<br>
								<center><button ng-submit="d_registrationform.submitForm()" class="btn btn-primary btn-sm"><span class="fa fa-paper-plane"></span> Sign Up</button></center>
							</form>
							</div>
							<br><br>
							
								<h5 style="text-align:center">Already a user?<a href="#/patient" class="green" style="font-weight:900"> Login</a></h5><br>
							<!-- <hr>
							
							<div style="margin:30px;">
								<a class="btn btn-block btn-social btn-facebook" >
									<i class="fa fa-facebook"></i> Sign in with Facebook
								</a>
								<br>
								<a class="btn btn-block btn-social btn-twitter">
									 <i class="fa fa-twitter"></i> Sign in with Twitter
								</a>
								<br>
								<a class="btn btn-block btn-social btn-google-plus" >
									<i class="fa fa-google-plus"></i> Sign in with Google
								</a>	
							</div> -->
							
							
						</div>
					

					
					</div>
				</div>
	</div>
</div>